@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #F5C542;
    --color-primary-hover: #DFAF24;
  }

  body {
    @apply bg-vault-bg text-vault-textPrimary antialiased selection:bg-vault-yellow selection:text-black;
  }

  /* Custom subtle scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-vault-border dark:bg-vault-darkBorder rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-400 dark:bg-neutral-600;
  }
}
